@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --blue-color: #176083;
  --light-blue-color: #6791a5;
  --dark-blue-color: #146082;
  --light-green-color: #65c298;
  --white-color: #ffffff;

  --sides-padding: 8vw;
  --top-bottom-padding: 4em;
  --section-padding: var(--top-bottom-padding) var(--sides-padding);

  /* text vars */
  --header1-size: 45px;
  --header2-size: 25px;
  --paragraph-size: 16px;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--blue-color);
  font-family: "Montserrat", sans-serif;
  font-weight: var(--medium);
  font-size: var(--paragraph-size);
  /* header height */
  padding-top: 15vh;
}

h1 {
  font-size: var(--header1-size);
}

h2 {
  font-size: var(--header2-size);
}

p {
  text-align: justify;
}

.thin-title {
  font-weight: var(--regular);
}

a {
  color: var(--blue-color);
}

.white-link {
  color: var(--white-color);
}

ul {
  padding-left: 5em;
}

li {
  list-style: none;
}

.list-with-bullet li {
  list-style: disc;
  margin-top: 1em;
}

.section-title-icon {
  height: 2em;
  transform: translateY(27%);
  margin-right: 0.5em;
}

section {
  padding: var(--section-padding);
}

section p {
  margin: 1.5em 0;
}

.section-with-bg {
  color: var(--white-color);
  background-image: url("../img/Bg_section_with_text.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 110%;
  background-color: var(--dark-blue-color);
}

.title-with-bg {
  color: var(--white-color);
  background-image: linear-gradient(
      rgba(23, 96, 131, 0.4) 0%,
      rgba(23, 96, 131, 0.4) 100%
    ),
    url("../img/BackgroundDigital_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: var(--dark-blue-color);
}

.section-with-bg a,
.title-with-bg a {
  color: var(--white-color);
}

.title-with-bg h1 {
  display: block;
  text-align: center;
}

.separator {
  width: 100%;
  height: 0.1em;
  margin: 2em 0;
  background-color: var(--white-color);
}

.separator.blue {
  background-color: var(--blue-color);
}

.button {
  display: inline-block;
  padding: 0.6em 2em;
  border-radius: 2em;
  font-size: var(--paragraph-size);
  text-decoration: none;
}

.button.white {
  background-color: var(--white-color);
  color: var(--blue-color);
}

.button.blue {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.button.green {
  background-color: var(--light-green-color);
  color: var(--white-color);
}

.animate {
  animation-duration: 0.5s;
}

/* ======================HEADER=============================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--sides-padding);
  background-color: var(--white-color);
  height: 15vh;
}

header a {
  text-decoration: none;
}

header.showNav {
  transform: translateY(-100%);
  animation-name: slideDown;
  animation-fill-mode: forwards;
}

header.hideNav {
  transform: translateY(-100%);
  animation-name: slideUp;
  animation-fill-mode: forwards;
}

#logo-section {
  display: flex;
  align-items: center;
}

#logo {
  width: 5em;
}

#logo-section h1 {
  font-size: 1.5em;
  margin-left: 1em;
  font-weight: var(--semi-bold);
}

header .nav-links {
  display: flex;
}

header .nav-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1em;
  border-right: 1px solid var(--blue-color);
}

header .nav-links li:last-of-type {
  border-right: none;
  padding-right: 0;
}

header.bottom-shaddow {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

/* ################################# MAIN CONTENT ############################### */

/* ==============HOME PAGE==================== */

.upcoming-event h2 {
  font-weight: var(--medium);
}

.date-apply {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 4em;
}

.date-apply p {
  font-size: var(--header2-size);
  font-weight: var(--bold);
}

.date-apply .button {
  margin: 0;
}

.newsletter-section {
  padding: var(--section-padding);
}

.news-section .date {
  margin-top: 0.3em;
}

.news-section .news-content-with-video {
  display: flex;
  justify-content: space-between;
}

.news-section .news-content-with-video .news-description {
  width: 50%;
}

.news-section .news-content-with-video .news-video {
  max-width: 50%;
}

/* =======================matchmacking summit page=================== */
.event-title-section {
  padding: var(--section-padding);
}
.event-title {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.event-title .event-title-image {
  width: 15vw;
  margin-right: 2em;
}

.event-title .event-title-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2em;
}

.event-title-section p {
  text-align: center;
}

.event-links-section {
  padding: var(--section-padding);
}

.event-links-section .event-links-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3em;
}

.event-links-section .event-links-row:last-of-type {
  margin-bottom: 0;
}

.event-description-section {
  padding: var(--section-padding);
}

.event-description-section .event-main-activities {
  padding: 2em 0 2em 5em;
}

.international-partners-section .international-partners {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-gap: 100px;
  width: 100%;
}

.international-partners-section h1 {
  display: block;
  text-align: center;
  padding-bottom: var(--top-bottom-padding);
}

.international-partners-section .international-partners img {
  width: 100%;
  max-height: 100%;
}

/* =======================jury and awards page=========================== */

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-gap: 5em;
  width: 100%;
}

.jury-member-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
}

.jury-member-card .jury-member-foto-frame {
  border: 2px solid var(--blue-color);
  border-radius: 50%;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.jury-member-card .jury-member-foto-container {
  border-radius: 50%;
  width: 190px;
  height: 190px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.jury-member-card .jury-member-foto-container img {
  width: 100%;
  height: auto;
}

.jury-member-card .jury-member-foto-container img.landscape {
  height: 100%;
  width: auto;
}

#viral-tripathi {
  transform: translateY(-10%);
}

.jury-member-card .jury-member-bold {
  color: var(--dark-blue-color);
  font-size: 1.3em;
  font-weight: var(--semi-bold);
  margin: 0;
  text-align: center;
}

.jury-member-card .jury-member-light {
  color: var(--light-blue-color);
  margin: 0;
  text-align: center;
}

.jury-member-card .jury-member-underline {
  width: 60%;
  height: 1px;
  background-color: var(--blue-color);
  margin: 0.7em 0;
}

/* ===========================services directory page================== */
.services-directory-link {
  display: block;
  text-align: center;
}

/* =======================event recordings page========================== */
.event-recordings-section h1,
.event-recordings-container h2 {
  display: block;
  text-align: center;
}

.event-recordings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--top-bottom-padding) 0;
}

.event-recordings-container .recording {
  padding: 3em 0;
}

.event-recordings-container .recording p {
  margin: 0 0 0.5em;
}

/* ===========================about page=================================== */
.associations-secondary-h1 {
  margin-bottom: 1.5em;
}

.live-events-list-title {
  margin-top: 1em;
}

.event-list-name-span {
  float: left;
  width: 500px;
}

.event-list-date-span {
  padding-left: 20px;
}

.advisory-board-members {
  padding-top: var(--top-bottom-padding);
}

/* ################################# ANIMATIONS ########################### */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
