@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --blue-color: #176083;
  --blue-transparent: rgba(23, 96, 131, 0.95);
  --light-blue-color: #6791a5;
  --dark-blue-color: #146082;
  --light-green-color: #65c298;
  --white-color: #ffffff;

  --sides-padding: 8vw;
  --top-bottom-padding: 4em;
  --section-padding: var(--top-bottom-padding) var(--sides-padding);

  /* text vars */
  --header1-size: 35px;
  --header2-size: 28px;
  --header3-size: 22px;
  --header4-size: 18px;
  --paragraph-size: 15px;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--blue-color);
  font-family: "Montserrat", sans-serif;
  font-weight: var(--medium);
  font-size: var(--paragraph-size);
  /* header height */
  padding-top: 15vh;
}

h1 {
  font-size: var(--header1-size);
  line-height: 1.5;
}

h2 {
  font-size: var(--header2-size);
}

h3 {
  font-size: var(--header3-size);
}

h4 {
  font-size: var(--header4-size);
}

p {
  text-align: justify;
}

.thin-title {
  font-weight: var(--regular);
}

a {
  color: var(--blue-color);
  text-decoration: none;
}

.white-link {
  color: var(--white-color);
}

ul {
  padding-left: 5em;
}

ul li {
  padding-top: 1em;
}

label {
  display: block;
  padding-left: 1.5em;
  font-size: 0.8em;
}

input,
textarea {
  background-color: transparent;
  border-radius: 5em;
  padding: 0.5em 1.5em;
  border: 1px solid white;
  color: var(--white-color);
  outline: none;
}

textarea {
  border-radius: 1em;
}

::placeholder {
  color: var(--white-color);
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: var(--white-color);
  opacity: 0.7;
}

::-ms-input-placeholder {
  color: var(--white-color);
  opacity: 0.7;
}

.input-blue,
.textarea-blue {
  border-color: var(--blue-color);
  color: var(--dark-blue-color);
}

.flex {
  display: flex;
}

.padding-bottom-1-em {
  padding-bottom: 1em;
}

.padding-bottom-2-em {
  padding-bottom: 2em;
}

.padding-top-1-em {
  padding-top: 1em;
}

.padding-top-2-em {
  padding-top: 2em;
}

.centered {
  text-align: center;
}

.no-margins {
  margin: 0;
}
/* TEXT EDITOR OUTPUT*/
.text-tiny {
  font-size: 0.5em;
}
.text-small {
  font-size: 0.8em;
}
.text-big {
  font-size: 1.5em;
  line-height: 1.5;
}
.text-huge {
  font-size: 1.8em;
  line-height: 1.5;
}
/* ========================================= */
.list-with-bullet li {
  list-style: disc;
  margin-top: 1em;
}

.list-with-numbers li {
  list-style: decimal;
  margin-top: 1em;
}

.list-with-letters li {
  list-style-type: lower-alpha;
}

.section-title-icon {
  height: 2em;
  transform: translateY(27%);
  margin-right: 0.5em;
}

section {
  padding: var(--section-padding);
}

.section-with-bg {
  color: var(--white-color);
  background-image: url("../img/Bg_section_with_text.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 110%;
  background-color: var(--dark-blue-color);
}

.title-with-bg {
  color: var(--white-color);
  background-image: linear-gradient(
      rgba(23, 96, 131, 0.4) 0%,
      rgba(23, 96, 131, 0.4) 100%
    ),
    url("../img/BackgroundDigital_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: var(--dark-blue-color);
}

.section-with-bg a,
.title-with-bg a {
  color: var(--white-color);
}

.title-with-bg h1 {
  display: block;
  text-align: center;
}

.separator {
  width: 100%;
  height: 0.1em;
  margin: 2em 0;
  background-color: var(--white-color);
}

.separator.blue {
  background-color: var(--blue-color);
  opacity: 0.3;
}

.button {
  display: inline-block;
  padding: 0.5em 2em;
  border-radius: 2em;
  border: none;
  outline: none;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button.white {
  background-color: var(--white-color);
  color: var(--blue-color);
}

.button.white:hover {
  color: var(--white-color);
  background-color: var(--light-green-color);
}

.button.blue {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.button.blue:hover {
  background-color: var(--light-green-color);
}

.button.green {
  background-color: var(--light-green-color);
  color: var(--white-color);
}

.button.green:hover {
  background-color: var(--blue-color);
}

.animate {
  animation-duration: 0.5s;
}

/* =================custom select droptown button========================== */
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  width: 300px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: var(--blue-color);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: var(--light-blue-color);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.3);
}

/* ======================HEADER=============================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--sides-padding);
  background-color: var(--white-color);
  height: 15vh;
}

header a {
  text-decoration: none;
}

header a:hover {
  color: var(--light-blue-color);
}

header.showNav {
  transform: translateY(-100%);
  animation-name: slideDown;
  animation-fill-mode: forwards;
}

header.hideNav {
  transform: translateY(-100%);
  animation-name: slideUp;
  animation-fill-mode: forwards;
}

#logo-section {
  display: flex;
  align-items: center;
}

#logo {
  width: 5em;
}

#logo-section h1 {
  font-size: 1.5em;
  margin-left: 1em;
  font-weight: var(--semi-bold);
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(23, 96, 131, 0.3);
}

.nav-item:last-child {
  border-right: none;
}

header .nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1em;
  min-height: 2.5em;
}

.current {
  color: var(--light-green-color);
}

.dropdown-header-item {
  position: relative;
}

.nav-links .dropdown {
  position: absolute;
  z-index: -1;
  top: 0;
  padding: 3em 0 1em;
  width: 100%;
  background-color: var(--white-color);
  border-radius: 0 0 3px 3px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.35);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-2em);
  transition: all 0.4s ease-in-out;
}

.dropdown a {
  padding-top: 1em !important;
}

.drop:hover + .dropdown,
.dropdown:hover {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

header.bottom-shaddow {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
}

/* Hamburger */
#hamburger {
  display: none;
  transition: all 0.7s ease-in-out;
}

#hamburger div {
  pointer-events: none;
  width: 20px;
  height: 3px;
  margin: 4px;
  transition: all 0.7s ease;
}

.toggle-burger .line1 {
  transform: rotate(-135deg) translate(-5px, 6px);
  position: relative;
  top: 2px;
}

.toggle-burger .line2 {
  opacity: 0;
}

.toggle-burger .line3 {
  transform: rotate(135deg) translate(-5px, -6px);
  position: relative;
  bottom: 1px;
}

/* ################################# MAIN CONTENT ############################### */

/* ==============HOME PAGE==================== */

.hero {
  display: flex;
  background-image: url("../img/Bg_section.jpg");
}

.hero .upcoming-event {
  flex: 2;
  background-color: rgba(23, 96, 131, 0.7);
  margin-right: 2em;
  padding: 2em;
}

.date-apply {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2em;
}

.date-apply .button {
  margin: 0;
}

.newsletter-section {
  flex: 1;
  padding: 2em;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(23, 96, 131, 0.7);
}

.news-section .date {
  margin-top: 0.3em;
}

.news-section .separator:last-child {
  display: none;
}

.news-truncated-content {
  margin: 2em 0;
}

/* =======================matchmaking summit page=================== */
.event-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-title .event-title-image {
  background-color: var(--white-color);
  border-radius: 50%;
}

.event-title .event-title-image img {
  width: 215px;
  height: 215px;
  padding: 0.2em;
}

.event-title .event-title-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 4em;
  text-align: center;
}

.event-title-section p {
  text-align: center;
}

.event-links-section .event-links-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3em;
}

.event-links-section .event-links-row:last-of-type {
  margin-bottom: 0;
}

.event-description-section .event-main-activities {
  padding: 2em 0 4em 5em;
}

.event-description {
  display: flex;
}

.event-description-title {
  padding-bottom: 4em;
}

.event-description-sumary {
  flex: 2;
  margin-right: 2em;
}

.event-description-sumary p:first-of-type {
  margin-top: 0;
}

.international-partners-section {
  flex: 1;
  margin-left: 2em;
}

.international-partners-section .international-partners {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-gap: 40px;
  width: 100%;
}

.international-partners-section h1 {
  display: block;
  text-align: center;
  padding-bottom: 2em;
}

.international-partners-section .international-partners img {
  width: 100%;
  max-height: 100%;
}

/* =================================agendas page============================= */

.agendas-title-buttons-container {
  justify-content: space-evenly;
  padding: 3em 0;
}

.agendas-container {
  padding-top: var(--top-bottom-padding);
  padding-bottom: var(--top-bottom-padding);
}

.agendas-title-buttons-container a {
  min-width: 19em;
  text-align: center;
}

.agenda-item img {
  float: right;
  margin-left: 1em;
  margin-bottom: 0.5em;
  width: 24%;
  max-width: 150px;
  max-height: 80px;
  clear: both;
  object-fit: contain;
}

.main-stage {
  flex: 1;
  padding-right: 2em;
  border-right: 1px solid var(--light-blue-color);
}

.focus-sessions {
  flex: 1;
  padding-left: 2em;
}

.agenda-item {
  padding: 4em 0;
  overflow: auto;
}

.agenda-item ul {
  padding-left: 3em;
}

.agenda-item-image-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2em;
  gap: 0.5em;
}

.agenda-item-image-container img {
  margin: 0;
  float: none;
  width: 25%;
  max-height: 180px;
  object-fit: contain;
}

.agenda-item-image-container .heini-kami {
  width: 40%;
}
/* =================================reserve-tickets-page================== */
.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7%;
}

#reserve-tickets-form label,
#reserve-tickets-form input,
#reserve-tickets-form .custom-select,
#reserve-tickets-form textarea,
#cee-solutions-showcase-form label,
#cee-solutions-showcase-form input,
#cee-solutions-showcase-form .custom-select,
#cee-solutions-showcase-form textarea {
  width: 100%;
}

#reserve-tickets-form button,
#cee-solutions-showcase-form button {
  display: block;
  margin: 4em auto 0;
}

/* ===========================successful purchase page======================= */
.successful-purchase-section {
  min-height: 60vh;
}

/* ==========================partenrship options page========================= */
.text-with-media .text-div {
  flex: 2;
  padding-right: 2em;
}

.text-with-media .media-div {
  flex: 1;
}

.text-with-media .media-div p {
  margin-bottom: 0.5em;
  display: block;
  text-align: center;
}

.text-with-media .media-div img {
  max-width: 100%;
}

.text-with-media .media-div iframe {
  width: 100%;
}

/* =======================jury and awards page=========================== */

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-gap: 5em;
  width: 100%;
}

.jury-member-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 400px;
}

.jury-member-card .jury-member-foto-frame {
  border: 2px solid var(--blue-color);
  border-radius: 50%;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.jury-member-card .jury-member-foto-container {
  border-radius: 50%;
  width: 190px;
  height: 190px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.jury-member-card .jury-member-foto-container img {
  width: 100%;
  height: auto;
}

.jury-member-card .jury-member-foto-container img.landscape {
  height: 100%;
  width: auto;
}

#viral-tripathi {
  transform: translateY(-10%);
}

.jury-member-card .jury-member-bold {
  color: var(--dark-blue-color);
  font-size: 1.3em;
  font-weight: var(--semi-bold);
  margin: 0;
  text-align: center;
}

.jury-member-card .jury-member-light {
  color: var(--light-blue-color);
  margin: 0;
  text-align: center;
}

.jury-member-card .jury-member-underline {
  width: 60%;
  height: 1px;
  background-color: var(--blue-color);
  margin: 0.7em 0;
}

/* ===========================services directory page================== */
.services-directory-link {
  display: block;
  text-align: center;
}

.logos-container {
  justify-content: center;
  gap: 4em;
}

.logos-container img {
  width: 10em;
  object-fit: contain;
}

/* ==================news page========================== */
.news-page-container {
  display: flex;
  width: 100%;
}

.news-container {
  width: 70%;
  padding-right: 4em;
}

.news-article-date {
  margin-top: 0;
  margin-bottom: 3em;
}

.news-article-image {
  max-width: 100%;
  max-height: 20em;
  object-fit: contain;
}

.news-article-separator {
  margin: 5em 0;
}

.news-article:last-child .news-article-separator {
  visibility: hidden;
}

.search-container {
  width: 30%;
  padding: 2em;
  border-radius: 0.3em;
  text-align: center;
  background-color: rgb(240, 252, 252);
  height: fit-content;
}

.search-container h2 {
  padding-bottom: 1.5em;
}

.news-titles h2 {
  padding-bottom: 2em;
}

.search-input {
  width: 80%;
  margin-bottom: 1em;
}

.search-button {
  width: 80%;
}

.clear-search {
  margin-top: 0.5em;
}

.clear-search a,
.search-news-titles {
  text-decoration: none;
}

.clear-search a:hover {
  text-decoration: underline;
}

.news-title-container {
  padding-bottom: 2em;
}

.news-title-container:last-child {
  padding-bottom: 0;
}

.news-title-container p {
  margin: 0;
}

.news-title-container .news-date {
  font-size: 0.8em;
}

.news-title-container .news-title {
  font-size: 1.1em;
}

.pager-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.pager {
  display: flex;
}

.pager li a {
  padding: 0.5em;
  text-decoration: none !important;
}

.pager li .current-page {
  text-decoration: underline !important;
  color: var(--light-green-color);
}

/* =======================event recordings page========================== */
.event-recordings-section h1,
.event-recordings-container h2 {
  display: block;
  text-align: center;
}

.event-recordings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--top-bottom-padding) 0;
}

.event-recordings-container .recording {
  padding: 3em 0;
  width: 50%;
}

.event-recordings-container .recording p {
  margin: 0 15px 0.5em;
  max-width: 530px;
  text-align: center;
}

/* ===========================about page=================================== */
.associations-secondary-h1 {
  margin-bottom: 1.5em;
}

.live-events-list-title {
  margin-top: 1em;
}

.event-list-name-span {
  display: inline-block;
  padding-right: 1em;
  width: 45%;
}

.event-list-date-span {
  padding-left: 1em;
}

.advisory-board-members {
  padding-top: var(--top-bottom-padding);
}

/* ===========================newsletter page============================= */

.input-without-label {
  align-items: flex-end;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 0.8fr));
  justify-content: center;
  align-content: center;
  grid-gap: 2em 4em;
  width: 100%;
  padding-bottom: 2em;
}

.form-row input {
  width: 100%;
}

/* ==============================footer=================================== */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  background-image: linear-gradient(
      rgba(23, 96, 131, 0.4) 0%,
      rgba(23, 96, 131, 0.4) 100%
    ),
    url("../img/BackgroundDigital_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--dark-blue-color);
  background-color: var(--blue-color);
  padding: 5em 0;
}

footer a {
  color: var(--white-color);
}

.white-footer {
  background-image: none;
  background-color: var(--white-color);
  color: var(--blue-color);
}

.white-footer a {
  color: var(--blue-color);
}

/* ################################## RESPONSIVE ########################## */

@media screen and (max-width: 1024px) {
  :root {
    --white-color: #ffffff;

    --sides-padding: 5vw;
    --top-bottom-padding: 4em;
    --section-padding: var(--top-bottom-padding) var(--sides-padding);

    /* text vars */
    --header1-size: 40px;
    --header2-size: 25px;
    --paragraph-size: 16px;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
  }
  .section-with-bg {
    background-size: 120% 110%;
  }
  header {
    height: 10vh;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  }
  header.showNav {
    transform: translateY(0);
    animation-name: none;
  }

  header.hideNav {
    transform: translateY(0);
    animation-name: none;
  }

  .blue-bg {
    background-color: var(--blue-color);
  }

  .white-bg {
    background-color: var(--white-color);
  }
  #hamburger {
    display: block;
    z-index: 2;
  }
  .header-menu {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    transform: translateX(100%);
  }

  .show-nav {
    animation: navSlideIn;
  }

  .nav-item {
    margin-bottom: 3em;
  }

  .nav-links {
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10vh 0;
    background-color: var(--blue-transparent);
    color: var(--white-color);
  }

  .nav-links a {
    color: var(--white-color);
    font-size: 1.5em;
    min-height: 1em;
  }

  header .nav-links a {
    min-height: 1em;
  }

  .nav-links .dropdown {
    position: static;
    opacity: 1;
    pointer-events: all;
    z-index: 1;
    background-color: transparent;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transform: translateY(0em);
  }

  .nav-links .dropdown a {
    font-size: 1em;
  }

  /* ==============HOME PAGE==================== */

  .hero {
    flex-direction: column;
  }

  .hero .upcoming-event {
    margin-bottom: 2em;
    margin-right: auto;
  }

  .newsletter-section {
    margin: auto;
  }

  .news-section .news-content-with-video .news-description {
    width: 80%;
    text-align: center;
  }

  .news-section .news-content-with-video .news-video {
    width: 60%;
  }

  .news-section .news-content-with-video {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .news-section .news-content-with-video .date {
    text-align: center;
  }

  /* ==========================partenrship options page========================= */
  .text-with-media {
    flex-direction: column;
    align-items: center;
  }
  .text-with-media .text-div {
    flex: 2;
    padding-right: 0;
  }

  .text-with-media .media-div {
    width: 70%;
    margin-bottom: 3em;
  }

  /* ===================== q2 agenda page========================== */
  .agenda-item {
    padding: 2em 0;
  }

  /* =======================news page============================ */
  .search-input {
    width: 100%;
    margin-bottom: 1em;
  }

  .search-button {
    width: 100%;
  }
  /* ===================newsletter signup page===================== */
  .newsletter-form-details {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.7em;
  }

  h2 {
    font-size: 1.3em;
  }

  ul {
    padding-left: 3em;
  }

  /* ============matchmaking summit page====================== */
  .international-partners-section h1 {
    text-align: center;
    font-size: 1.5em;
  }

  .international-partners-section .international-partners {
    grid-template-columns: repeat(auto-fill, minmax(90px, 0.6fr));
  }

  .event-title .event-title-image img {
    width: 150px;
    height: 150px;
    padding: 0.1em;
  }

  .event-title .event-title-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.5em;
    text-align: center;
  }

  /* ===================reserve tickets page============= */
  .form-column {
    padding: 0 4%;
  }

  /* =======================news page============================ */
  .news-page-container {
    flex-direction: column-reverse;
  }
  .search-container {
    width: 100%;
    margin-bottom: 2em;
  }
  .search-container h2 {
    padding-bottom: 0.5em;
  }
  .search-input {
    width: 50%;
    margin-bottom: 1em;
  }
  .search-button {
    width: 50%;
  }
  .search-container .separator {
    display: none;
  }
  .search-container .news-titles {
    display: none;
  }
  .news-container {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
  .news-container .news-article-date {
    text-align: center;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --sides-padding: 5vw;
    --top-bottom-padding: 2em;
    --section-padding: var(--top-bottom-padding) var(--sides-padding);
  }
  body {
    font-size: 0.7em;
  }
  ul {
    padding-left: 2em;
  }
  #logo {
    width: 4em;
  }
  .section-with-bg {
    background-size: 120% 115%;
  }

  /* =====================home page======================= */
  .hero .upcoming-event,
  .hero .newsletter-section {
    padding: 0 1em;
  }

  .date-apply {
    flex-direction: column;
  }

  .date-apply .button,
  .hero .newsletter-section .button {
    margin: 1em auto;
  }

  .news-section .news-content-with-video .news-description {
    width: 90%;
    text-align: center;
  }

  .news-section .news-content-with-video .news-video {
    width: 80%;
  }

  /*============= matchmaking summit page ================== */
  .event-title .event-title-image img {
    width: 80px;
    height: 80px;
  }
  .event-description {
    flex-direction: column;
  }
  .event-description-section .event-main-activities {
    padding: 1em 0 2em 2em;
  }
  .event-description-sumary {
    margin-right: 0;
  }
  .international-partners-section {
    margin: 4em 0;
  }
  .international-partners-section .international-partners {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 40px;
  }
  /* ========agendas page================ */
  .agendas-title-buttons-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .agendas-title-buttons-container .button {
    margin-top: 1em;
    max-width: 15em;
    width: auto;
  }
  .agendas-title-buttons-container .button:last-child {
    margin-bottom: 1em;
  }

  .event-title-section p {
    margin: 0.3em auto;
  }
  .agendas-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .main-stage {
    padding-right: 1.5em;
  }

  .focus-sessions {
    padding-left: 1.5em;
  }

  .agenda-item {
    padding: 1.5em 0;
  }

  .agenda-item ul {
    padding-left: 1.2em;
  }
  input {
    border-radius: 1.2em;
    padding: 0.3em 0.5em;
  }
  textarea {
    border-radius: 0.5em;
    padding: 0.3em 0.5em;
  }
  label {
    padding-left: 0.5em;
  }

  /* ===============awards and jusry page========================= */
  .cards-container {
    padding-top: 4em;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 3em;
  }

  .jury-member-card {
    height: 320px;
  }

  .jury-member-card .jury-member-foto-frame {
    width: 150px;
    height: 150px;
  }

  .jury-member-card .jury-member-foto-container {
    width: 130px;
    height: 130px;
  }

  /* =======================news page============================ */
  .search-input {
    width: 100%;
    margin-bottom: 1em;
  }
  .search-button {
    width: 100%;
  }

  /* =================event recordings page============== */
  .event-recordings-container .recording {
    padding: 2em 0;
    width: 80%;
  }
}

/* ################################# ANIMATIONS ########################### */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* navslide in mobile */
@keyframes navSlideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes navSlideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
