@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --blue-color: #176083;
  --light-blue-color: #6791a5;
  --green-color: green;
  --white-color: #ffffff;

  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--blue-color);
  font-family: "Montserrat", sans-serif;
  font-weight: var(--medium);
  font-size: 14px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 34px;
}

a {
  color: var(--blue-color);
  text-decoration: none;
}

li {
  list-style: none;
}

/* ======================HEADER=============================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background-color: var(--white-color);
}

header.bottom-shaddow {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

header.showNav {
  transform: translateY(-100%);
  animation-name: slideDown;
  animation-fill-mode: forwards;
}

header.hideNav {
  transform: translateY(-100%);
  animation-name: slideUp;
  animation-fill-mode: forwards;
}

.animate {
  animation-duration: 0.5s;
}

#logo-section {
  display: flex;
  align-items: center;
}

#logo {
  width: 5em;
}

#logo-section h1 {
  font-size: 1.5em;
  margin-left: 1em;
  font-weight: var(--semi-bold);
}

header .nav-links {
  display: flex;
}

header .nav-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1em;
  border-right: 1px solid var(--blue-color);
}

header .nav-links li:last-of-type {
  border-right: none;
}

/* ======================MAIN CONTENT=============================== */

section {
  min-height: 200vh;
}

section h1 {
  display: block;
  text-align: center;
  padding-top: 2em;
}

/* =================================FOOTER============================== */

/* ################################# ANIMATIONS ########################### */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
