/* Global Styles */

body {
  margin-top: 100px;
  background-color: #222;
}

@media (min-width: 768px) {
  body {
    margin-top: 50px;
  }
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: fit-content;
  min-width: 100%;
  padding: 0;
  background-color: #fff;
}

table {
  background-color: #fff;
}

.huge {
  font-size: 50px;
  line-height: normal;
}

.choose-file-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
}

.choose-file-container div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-file {
  display: block;
  width: fit-content;
}
/* General video */
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* video in tables */
.table-iframe-container {
  position: relative;
  width: 15em;
  padding-bottom: 56.25%;
  height: 0;
}
.table-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.table-img {
  max-width: 15em;
  max-height: 15em;
  object-fit: contain;
}

.delete-buttons-container {
  display: flex;
  padding-bottom: 2em;
  width: 100%;
  justify-content: space-around;
}

.delete-buttons-container input {
  margin-right: 2em;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 225px;
  }

  #page-wrapper {
    padding: 10px;
  }
}

/* =================TEXT EDITOR OUTPUT=================*/
.text-tiny {
  font-size: 0.5em;
}
.text-small {
  font-size: 0.8em;
}
.text-big {
  font-size: 1.5em;
  line-height: 1.5;
}
.text-huge {
  font-size: 1.8em;
  line-height: 1.5;
}
.image_resized img {
  width: 100%;
}
/* ==================================================== */

/* Top Navigation */
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.top-nav {
  padding: 0 15px;
}

.top-nav > li {
  display: inline-block;
}

.top-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
  color: #fff;
  background-color: #000;
}

.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal;
}

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

li.message-footer {
  margin: 5px 0;
}

ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */

@media (min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
  }

  .side-nav > li > a {
    width: 225px;
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
  }
}

.side-nav {
  min-height: 100vh;
}

.side-nav > li > ul {
  padding: 0;
}

.side-nav > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

.side-nav > li > ul > li > a:hover {
  color: #fff;
}

/* =================Agendas page content============= */
.agendas-content-img {
  width: 8em;
  margin: 0.1em;
}
/* ************************************************** */

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* Custom Colored Panels */

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

.panel-green a {
  color: #5cb85c;
}

.panel-green a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}

.panel-red a {
  color: #d9534f;
}

.panel-red a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

.panel-yellow a {
  color: #f0ad4e;
}

.panel-yellow a:hover {
  color: #df8a13;
}
